* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  padding: 0px 5px;
  font-size: larger;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  background-color: rgb(160, 241, 189);
  display: flex;
  align-items: center;
  padding: 30px;
}
.Logo {
  width: 50%;
  color: rgb(46, 79, 33);
}
.Nav-tables {
  gap: 15px;
  width: 50%;
  color: rgb(46, 79, 33);
  display: flex;
  justify-content: end;
  align-items: center;
}
.Nav-tables button {
  border: none;
  color: white;
  font-size: medium;
  background-color: rgb(46, 79, 33);
  padding: 15px 25px;
  border-radius: 50px;
}
/* Main */
.Hero-section {
  height: 75vh;
  display: flex;
  align-items: center;
  background-color: rgb(160, 241, 189);
  color: rgb(46, 79, 33);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Hero-section-1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 30px;
}
.Hero-section-1 h3 {
  width: 78%;
  font-size: xxx-large;
  font-weight: 100;
  line-height: 1.2em;
}
.Hero-section-1 p {
  font-size: medium;
}
.Hero-section-1 button {
  color: white;
  font-size: medium;
  background-color: rgb(46, 79, 33);
  padding: 10px;
  border-radius: 50px;
  border: none;
}
.Hero-section-2 {
  width: 40%;
}
.Hero-section-2 img {
  width: 410px;
  position: relative;
}
/* Servies */
.services {
  padding: 100px 20px;
  background: #f9fafb;
  text-align: center;
}

.services-content {
  max-width: 800px;
  margin: auto;
}

.services h5 {
  color: #6b7280;
  margin-bottom: 20px;
  color: rgb(46, 79, 33);
}

.services h1 {
  font-size: 42px;
  color: rgb(46, 79, 33);
  line-height: 1.3;
}

.services p {
  margin: 20px 0;
  color: rgb(46, 79, 33);
}

.services button {
  padding: 12px 25px;
  background-color: rgb(46, 79, 33);
  border: none;
  border-radius: 25px;
  color: white;
}
/* tax */
.tax {
  padding: 80px 20px;
  background-color: rgb(160, 241, 189);
  border-radius: 10px;
}

.tax-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: rgb(46, 79, 33);
}

.tax-left {
  width: 50%;
  text-align: center;
}

.tax-left img {
  width: 80%;
}

.tax-right {
  width: 50%;
}

.tax-right h2 {
  font-size: 36px;
  color: rgb(46, 79, 33);
  margin-bottom: 20px;
}

.tax-right p {
  color: rgb(46, 79, 33);
  margin-bottom: 20px;
}

.features button {
  margin-right: 20px;
  color: rgb(46, 79, 33);
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 17px;
  border: none;
}
/* tax-section-end */
/* benefit-section-start */
.Benefit-tax {
  margin: 22px 20px 30px 0px;
  padding: 90px 20px;
  background-color: rgb(160, 241, 189);
  border-radius: 10px;
}
.Benefit-section {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: rgb(46, 79, 33);
}
.Benefit-right {
  width: 50%;
}
.Benefit-left img {
  width: 80%;
}
.Benefit-left {
  width: 50%;
}
.Benefit-right h2 {
  font-size: 36px;
  color: rgb(46, 79, 33);
  margin-bottom: 20px;
}
.Benefit-right p {
  color: rgb(46, 79, 33);
  margin-bottom: 20px;
}
/* benefit-section-end */
/* CTA */
.CTA {
  padding: 80px 20px;
  background-color: rgb(160, 241, 189);
  border-radius: 10px;
}
.CTA-section {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: rgb(46, 79, 33);
}
.CTA-left {
  width: 50%;
}
.CTA-left img {
  width: 80%;
}
.CTA-right {
  width: 50%;
}
.CTA-right h2 {
  font-size: 36px;
  color: rgb(46, 79, 33);
  margin-bottom: 20px;
}
.CTA-right p {
  font-size: 25px;
  color: rgb(46, 79, 33);
  margin-bottom: 20px;
}
/* CTA-section-end */
/* Client-section-start */
.client-section {
  padding: 80px 20px;
}

.client-head {
  text-align: center;
  color: rgb(46, 79, 33);
  margin: 10px;
}
.client-down {
  margin-top: 100px;
  width: 100%;
  display: flex;
}
.client-right {
  text-align: center;
}
.client-right-1,
.client-right-2,
.client-right-3 {
  margin-bottom: 75px;
}
.client-left {
  color: wheat;

  display: flex;

  width: 27%;
  border-radius: 10px;
  flex-direction: column;
}
.box-:active {
  background-color: lightgreen;
}

.box {
  background-color: rgb(46, 79, 33);
  font-size: 15px;
  padding: 28px 45px;
  border-radius: 10px;
}
.box h2 {
  margin-bottom: 17px;
  font-size: 17px;
}
.box-1 {
  color: rgb(46, 79, 33);
  font-size: 15px;
  padding: 28px 45px;
  border-radius: 10px;
}
.box-1 h2 {
  margin-bottom: 17px;
  font-size: 16px;
}
.line {
  border-left: 2px solid black; /* Line ka rang aur motai */
  height: 500px; /* Line ki lambai */
  margin: 0 20px; /* Line ke dono taraf fasla */
}
/* Client-section-end */
.image img {
  width: 100%;
}
/* Finance-start */
.Smart-Finance {
  padding: 100px 20px;
  color: rgb(46, 79, 33);
}
.Finance {
  display: flex;
  margin-bottom: 100px;
}
.Finance-left {
  width: 50%;
}
.Finance-left h2 {
  font-weight: 100;
  font-size: 47px;
}
.Finance-right {
  width: 50%;
}
.Finance-right p {
  font-size: 19px;
  font-weight: 100;
}
.bar {
  border-bottom: 1px solid rgb(46, 79, 33);
  width: 100%;
}
.Finance-1 {
  margin-bottom: 60px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.Finance-1-left img {
  width: 50px;
  margin-bottom: 10px;
}

.Finance-1-left h2 {
  font-weight: 100;
  font-size: 40px;
}
.Finance-1-right {
}
.Finance-1-right h4 {
  font-size: 29px;
  font-weight: 100;
}
.Finance-1-right p {
  font-weight: 100;
  font-size: 20px;
}
/* Finance-end */
/* custom-built strt */
.custom-built {
  display: flex;
}

.custom-built-left {
  width: 50%;
  padding: 100px 30px;
  background-color: rgb(46, 79, 33);
  border-radius: 10px;
  margin: 15px;
  color: white;
  display: flex;
  align-items: center;
}
.custom-built-left h3 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 100;
}
.custom-built-left p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 100;
}
.custom-built-left button {
  border-radius: 10px;
  padding: 10px;
  border: none;
}
.custom-built-right {
  border-radius: 10px;
  margin: 15px;
  padding: 100px;
  width: 50%;
  background-color: rgb(160, 241, 189);
}
.custom-built-right img {
  width: 400px;
}
/* custom-built end */
/* footer */
.footer-section {
  padding: 37px 20px;
  background-color: rgb(46, 79, 33);
  color: white;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 400px;
}
footer h1 {
  font-size: large;
}
.footer-end {
  width: 75%;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}
.footer button {
  border: none;
  color: black;
  font-size: medium;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
}
/* footer-end */
/* media Queery */
@media only screen and (width: 1280px) and (height: 538px) {
}
@media only screen and (width: 800px) and (height: 538px) {
  .wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
  nav {
    background-color: rgb(160, 241, 189);
    display: flex;
    align-items: center;
    padding: 20px 30px;
  }
  .Logo {
    width: 50%;
    color: rgb(46, 79, 33);
  }
  .Nav-tables {
    gap: 15px;
    width: 50%;
    color: rgb(46, 79, 33);
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .Nav-tables button {
    color: white;
    font-size: 11px;
    background-color: rgb(46, 79, 33);
    padding: 10px 20px;
    border-radius: 50px;
  }
  .Hero-section {
    height: 85vh;
    display: flex;
    align-items: center;
    background-color: rgb(160, 241, 189);
    color: rgb(46, 79, 33);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .Hero-section-1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 30px;
  }
  h3 {
    width: 79%;
    font-size: xxx-large;
    font-weight: 100;
    line-height: 1.2em;
  }
  .Hero-section-1 p {
    font-size: 20px;
  }
  .Hero-section-1 button {
    color: white;
    font-size: 14px;
    background-color: rgb(46, 79, 33);
    padding: 10px 20px;
    border-radius: 50px;
  }
  .Hero-section-2 {
    width: 40%;
  }
  .Hero-section-2 img {
    width: 300px;
    position: relative;
    left: 10px;
    top: 9px;
  }
  .tax {
    padding: 80px 20px;
    background-color: rgb(160, 241, 189);
    border-radius: 10px;
  }

  .tax-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: rgb(46, 79, 33);
  }

  .tax-left {
    width: 50%;
    text-align: center;
  }

  .tax-left img {
    width: 80%;
  }

  .tax-right {
    width: 50%;
  }

  .tax-right h2 {
    font-size: 36px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }

  .tax-right p {
    font-size: smaller;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  .features {
    display: flex;
    font-size: 20px;
  }
  .features button {
    margin-right: 20px;
    color: rgb(46, 79, 33);
    font-size: 14px;
    border-radius: 10px;
    padding: 6px;
    border: none;
  }
  .Benefit-tax {
    margin: 22px 20px 30px 0px;
    padding: 90px 20px;
    background-color: rgb(160, 241, 189);
    border-radius: 10px;
  }
  .Benefit-section {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: rgb(46, 79, 33);
  }
  .Benefit-right {
    width: 52%;
  }
  .Benefit-left img {
    width: 100%;
  }
  .Benefit-left {
    width: 48%;
  }
  .Benefit-right h2 {
    font-size: 36px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  .Benefit-right p {
    font-size: 15px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  .CTA-right h2 {
    font-size: 28px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  .CTA-right p {
    font-size: 15px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  /* Client-section-start */
  .client-section {
    padding: 20px 10px;
  }

  .client-head {
    text-align: center;
    color: rgb(46, 79, 33);
    font-size: 20px;
  }
  .client-down {
    width: 100%;
    display: flex;
  }
  .client-left {
    color: wheat;
    display: flex;
    width: 50%;
    border-radius: 10px;
    flex-direction: column;
  }
  .client-right {
    display: flex;
    flex-direction: column;
    gap: 75px;
  }
  .client-right-1,
  .client-right-2,
  .client-right-3 {
    margin-bottom: 15px;
    font-size: smaller;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .box {
    background-color: rgb(46, 79, 33);
    font-size: 15px;
    padding: 28px 45px;
    border-radius: 10px;
  }
  .box h2 {
    margin-bottom: 17px;
    font-size: 17px;
  }
  .box-1 {
    color: rgb(46, 79, 33);
    font-size: 15px;
    padding: 28px 45px;
    border-radius: 10px;
  }
  .box-1 h2 {
    margin-bottom: 17px;
    font-size: 16px;
  }
  .line {
    border-left: 2px solid black; /* Line ka rang aur motai */
    height: 500px; /* Line ki lambai */
    margin: 0 20px; /* Line ke dono taraf fasla */
  }
  /* custom-built strt */
  .custom-built {
    display: flex;
  }

  .custom-built-left {
    width: 50%;
    padding: 10px 20px;
    background-color: rgb(46, 79, 33);
    border-radius: 10px;
    margin: 5px;
    color: white;
    display: flex;
    align-items: center;
  }
  .custom-built-left h3 {
    margin-bottom: 36px;
    font-size: 23px;
    font-weight: 100;
  }
  .custom-built-left p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 100;
  }
  .custom-built-left button {
    border-radius: 10px;
    padding: 10px;
    border: none;
  }
  .custom-built-right {
    border-radius: 10px;
    margin: 5px;
    width: 50%;
    background-color: rgb(160, 241, 189);
  }
  .custom-built-right img {
    width: 200px;
  }

  /* Finance-start */
  .Smart-Finance {
    padding: 10px;
    color: rgb(46, 79, 33);
  }
  .Finance {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }
  .Finance-left {
    width: 50%;
  }
  .Finance-left h2 {
    text-align: center;
    font-weight: 100;
    font-size: 33px;
  }
  .Finance-right {
    width: 50%;
  }
  .Finance-right p {
    margin-top: 48px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 100;
  }
  .bar {
    border-bottom: 1px solid rgb(46, 79, 33);
    width: 100%;
  }
  .Finance-1 {
    margin-bottom: 60px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .Finance-1-left img {
    width: 30px;
    margin-bottom: 10px;
  }

  .Finance-1-left h2 {
    font-weight: 100;
    font-size: 33px;
  }
  .Finance-1-right {
  }
  .Finance-1-right h4 {
    font-size: 20px;
    font-weight: 100;
  }
  .Finance-1-right p {
    font-weight: 100;
    font-size: 20px;
  }
  /* Finance-end */
  /* footer */
  .footer-section {
    padding: 20px;
    background-color: rgb(46, 79, 33);
    color: white;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  .footer h1 {
    font-size: 20px;
  }
  .footer-end {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
  }
  .footer-end-left h5 {
    font-size: medium;
  }
  .footer button {
    border: none;
    color: black;
    font-size: small;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
  }
  /* footer-end */
}
@media (max-width: 375px) and (max-height: 700px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
  nav {
    background-color: rgb(160, 241, 189);
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
  }
  .Logo {
    width: 50%;
    color: rgb(46, 79, 33);
  }
  .Nav-tables {
    gap: 15px;
    width: 50%;
    color: rgb(46, 79, 33);
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .Nav-tables button {
    color: white;
    font-size: 11px;
    background-color: rgb(46, 79, 33);
    padding: 10px 20px;
    border-radius: 50px;
  }
  .Nav-tables button span {
    display: none;
  }

  .Hero-section {
    flex-direction: column-reverse;
    height: auto; /* ❗ important */
    padding: 20px 0;
  }

  .Hero-section-1 {
    width: 100%;
    padding: 0 15px;
    align-items: center;
    text-align: center;
  }
  .Hero-section-1 button {
    color: white;
    font-size: 14px;
    background-color: rgb(46, 79, 33);
    padding: 6px 11px;
    border-radius: 50px;
  }

  h3 {
    width: 100%;
    font-size: 23px;
  }
  p {
    font-size: medium;
  }
  .Hero-section-2 {
    width: 100%;
    text-align: center;
  }

  .Hero-section-2 img {
    width: 80%;
    position: static;
  }
  .services h1 {
    font-size: 28px;
  }
  .tax {
    background-color: rgb(160, 241, 189);
    border-radius: 10px;
  }

  .tax-container {
    display: block;
  }

  .tax-left {
    width: 100%;
  }

  .tax-left img {
  }

  .tax-right {
    margin-top: 15px;
    width: 100%;
  }

  .tax-right h2 {
    font-size: 24px;
    color: rgb(46, 79, 33);
  }

  .tax-right p {
    font-size: 14px;
  }
  .features {
    display: flex;
  }
  .features button {
    font-size: 9px;
    padding: 10px 10px;
  }
  .Benefit-tax {
    margin: 22px 20px 30px 0px;
    padding: 90px 20px;
    background-color: rgb(160, 241, 189);
    border-radius: 10px;
  }
  .Benefit-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: rgb(46, 79, 33);
  }
  .Benefit-right {
    width: 100%;
  }
  .Benefit-left img {
    width: 100%;
  }
  .Benefit-left {
    width: 100%;
  }
  .Benefit-right h2 {
    font-size: 29px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  .Benefit-right p {
    font-size: 15px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  .CTA {
    padding: 80px 20px;
    background-color: rgb(160, 241, 189);
    border-radius: 10px;
  }
  .CTA-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: rgb(46, 79, 33);
  }
  .CTA-left {
    width: 100%;
  }
  .CTA-left img {
    width: 90%;
  }
  .CTA-right {
    width: 100%;
  }
  .CTA-right h2 {
    font-size: 23px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  .CTA-right p {
    font-size: 10px;
    color: rgb(46, 79, 33);
    margin-bottom: 20px;
  }
  /* foter */
  .footer-section {
    padding: 5px;
    background-color: rgb(46, 79, 33);
    color: white;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  .footer h1 {
    font-size: medium;
  }
  .footer-end {
    width: 100%;

    font-size: 15px;
  }
  .footer-end-left p {
    font-size: 10px;
  }
  .footer-end-right p {
    font-size: 10px;
  }
  .footer button {
    border: none;
    color: black;
    font-size: medium;
    background-color: white;
    padding: 2px 12px;
    border-radius: 50px;
  }
  .footer button span {
    display: none;
  }
  /* Client-section-start */
  .client-section {
    padding: 20px 10px;
  }

  .client-head {
    text-align: center;
    color: rgb(46, 79, 33);
    font-size: 20px;
  }
  .client-down {
    width: 100%;
    display: flex;
  }
  .client-left {
    color: wheat;
    display: flex;
    width: 50%;
    border-radius: 10px;
    flex-direction: column;
  }
  .client-right {
    display: flex;
    flex-direction: column;
    gap: 75px;
  }
  .client-right-1,
  .client-right-2,
  .client-right-3 {
    margin-bottom: 14px;
    font-size: smaller;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .box {
    background-color: rgb(46, 79, 33);
    font-size: 15px;
    padding: 28px 45px;
    border-radius: 10px;
  }
  .box h2 {
    margin-bottom: 17px;
    font-size: 17px;
  }
  .box-1 {
    color: rgb(46, 79, 33);
    font-size: 15px;
    padding: 28px 45px;
    border-radius: 10px;
  }
  .box-1 h2 {
    margin-bottom: 17px;
    font-size: 16px;
  }
  .line {
    display: none;
    border-left: 2px solid black; /* Line ka rang aur motai */
    height: 500px; /* Line ki lambai */
    margin: 0 20px; /* Line ke dono taraf fasla */
  }
  /* Client-section-start */
  .client-section {
    padding: 20px 10px;
  }

  .client-head {
    text-align: center;
    color: rgb(46, 79, 33);
    font-size: 15px;
  }
  .client-down {
    width: 100%;
    display: flex;
  }
  .client-left {
    color: wheat;
    display: flex;
    width: 100%;
    border-radius: 10px;
    flex-direction: column;
  }
  .client-right {
    display: none;
  }
  .client-right-1,
  .client-right-2,
  .client-right-3 {
    margin-bottom: 15px;
    font-size: smaller;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .box {
    background-color: rgb(46, 79, 33);
    font-size: 15px;
    padding: 28px 45px;
    border-radius: 10px;
  }
  .box h2 {
    margin-bottom: 17px;
    font-size: 17px;
  }
  .box-1 {
    color: rgb(46, 79, 33);
    font-size: 15px;
    padding: 28px 45px;
    border-radius: 10px;
  }
  .box-1 h2 {
    margin-bottom: 17px;
    font-size: 16px;
  }
  .line {
    border-left: 2px solid black; /* Line ka rang aur motai */
    height: 500px; /* Line ki lambai */
    margin: 0 20px; /* Line ke dono taraf fasla */
  }
  /* custom-built strt */
  .custom-built {
    display: flex;
    flex-direction: column-reverse;
  }

  .custom-built-left {
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(46, 79, 33);
    border-radius: 10px;
    margin: 5px;
    color: white;
    display: flex;
    align-items: center;
  }
  .custom-built-left h3 {
    margin-bottom: 36px;
    font-size: 23px;
    font-weight: 100;
  }
  .custom-built-left p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 100;
  }
  .custom-built-left button {
    border-radius: 10px;
    padding: 10px;
    border: none;
  }
  .custom-built-right {
    padding: 70px;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    background-color: rgb(160, 241, 189);
  }
  .custom-built-right img {
    width: 150px;
  }
  /* Finance-start */
  .Smart-Finance {
    padding: 10px;
    color: rgb(46, 79, 33);
  }
  .Finance {
    gap: 23px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .Finance-left {
    width: 100%;
  }
  .Finance-left h2 {
    font-weight: 100;
    font-size: 28px;
  }
  .Finance-right {
    width: 100%;
  }
  .Finance-right p {
    font-size: 15px;
    font-weight: 100;
  }
  .bar {
    border-bottom: 1px solid rgb(46, 79, 33);
    width: 100%;
  }
  .Finance-1 {
    margin-bottom: 60px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .Finance-1-left img {
    width: 40px;
    margin-bottom: 10px;
  }

  .Finance-1-left h2 {
    font-weight: 100;
    font-size: 24px;
  }
  .Finance-1-right {
  }
  .Finance-1-right h4 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 100;
  }
  .Finance-1-right p {
    font-weight: 100;
    font-size: 15px;
  }
  /* Finance-end */
}
